html, body
{
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: Helvetica;
}

div.dropdown
{
	text-align: center;
	position: absolute;
	top: 80px;
	width: 300px;
	cursor: pointer;
}

#optionsbutton
{
	left: 0px;
}

#aboutbutton
{
	right: 0px;
}

div.sidebar
{
	padding: 0px 10px;
	position: absolute;
	top: 125px;
	width: 300px;
	background-color: rgba(255, 255, 255, 0.6);
	overflow: hidden;
}

#options
{
	left: 0px;
	text-align: center;
}

#about
{
	right: 0px;
}

#canvasdiv
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

#title
{
	position: absolute;
	width: 100%;
	height: 125px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.6);
}

div.message
{
	position: absolute;
	width: 100%;
	top: 40%;
	text-align: center;
}

.dropdown
{
	margin: 5px;
	width: 200px;
}

.smartspinner
{
	margin: 5px;
	background: url(normal.png) no-repeat right;
	text-align: left;
}

.smartspinner.up
{
	background: url(up.png) no-repeat right;
	cursor: pointer;
}

.smartspinner.down
{
	background: url(down.png) no-repeat right;
	cursor: pointer;
}

#regenerate
{
	margin: 10px;
}

h1
{
	font-weight: lighter;
}

div.sidebar h1
{
	font-size: small;
	font-weight: bold;
}

#title p
{
	letter-spacing: 2px;
}

div.sidebar p
{
	font-size: small;
	text-align: left;
}

a
{
	font-size: small;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}
